*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


.idea/caches/ 
.idea/gradle.xml


# Local configuration file (SDK paths, etc.)
app/local.properties

# IDE specific files
app/.idea/
.idea/